.rectangle {
position: relative;
margin-top: 100px;
margin-left: 50px; 
height: 190px;
width: 540px;
background-color: #bebebe;
}

.rectabs {
    position: absolute;
    left: 10px;
    top: 10px;
}

.buttonsPause {
    position: absolute;
    left: -30px;
    top: 0px;
}

.buttonsPlay {
    position: absolute;
    left: -30px;
    top: 20px;
}

/* buttons next and back */
.buttonsNext {
    position: absolute;
    left: -30px;
    top: 40px;
}

.buttonBack {
    position: absolute;
    left: -30px;
    top: 60px;
}

.rectangle2 {
    position: absolute;
    top: 200px;
    right: 30px;
    height: 178px;
    width: 489px;
    background-color: #bfbfbf;
}

.rectabs2 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle3 {
    position: absolute;
    top: 370px;
    right: 650px;
    height: 68px;
    width: 133px;
    background-color: #bfbfbf;
}

.rectabs3 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle4 {
    position: absolute;
    top: 370px;
    right: 875px;
    height: 92px;
    width: 79px;
    background-color: #bfbfbf;
}

/* side */
.rectangleside {
    position: absolute;
    top: 450px;
    right: 50px;
    height: 585px;
    width: 233px;
    background-color: #ffffff;
}

.rectabsside {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectabs4 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle5 {
    position: absolute;
    top: 370px;
    left: 250px;
    height: 579px;
    width: 96px;
    background-color: #bfbfbf;
}

.rectabs5 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle6 {
    position: absolute;
    top: 1070px;
    left: 95px;
    height: 258px;
    width: 522px;
    background-color: #2e4451;
}

.rectabs6 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle7 {
    position: absolute;
    top: 1470px;
    left: 50px;
    height: 636px;
    width: 445px;
    background-color: #f5c116;
}

.rectabs7 {
    position: absolute;
    left: 10px;
    top: 10px;
}



.rectangle8 {
    position: absolute;
    top: 1170px;
    right: 30px;
    height: 714px;
    width: 515px;
    background-color: #16f516;
}

.rectabs8 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectangle9 {
    position: absolute;
    top: 2270px;
    left: 50px;
    height: 634px;
    width: 1220px;
    background-color: #f516d0;
}

.rectabs9 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.rectabs9a {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.rectangle10 {
    position: absolute;
    top: 3070px;
    left: 550px;
    height: 270px;
    width: 464px;
    background-color: #f51616;

}

.rectabs10 {
    position: absolute;
    left: 10px;
    top: 10px;
}
/* The pop up css */

.alert {
    position: fixed;
    bottom: 100px;
    /* padding: 20px; */
    background-color: rgb(135, 240, 165);
    color: rgb(0, 0, 0);
    z-index: 10;
  }
  
.closebtn {
    margin-left: 15px;
    color: rgb(142, 25, 25);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }

.message {
    padding: 25px;
  }

